<app-app-body appbody="appbody"></app-app-body>

<div class="row">
  <div class="card col-md-4" style="width: 18rem;">
  
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Pizza discount after 8pm!!</p>
      <a href="/promotions" class="btn btn-primary">Go to promotion page</a>
    </div>
  </div>

  <div class="card col-md-4" style="width: 18rem;">
    <!--<img class="card-img-top thumbnail" src="..." alt="Card image cap">-->
    <div class="card-body">
      <h5 class="card-title">Healthy alternatives</h5>
      <p class="card-text">Able to check how many calories the food is sold.</p>
      <a href="#" class="btn btn-primary">Go to shopping page</a>
    </div>
  </div>

  <div class="card col-md-4" style="width: 18rem;">
     <img class="card-img-top thumbnail" src="../../assets/images/americanespresso.jpg" alt="Card image cap">-->
    <div class="card-body">
      <h5 class="card-title">Enjoy Desert and Capucino</h5>
      <p class="card-text"> Enjoy the low sugar content of desert and Capucino </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

   <div class="spacing-left">
      <post-banner></post-banner>
    </div>
