@media(min-width: 600px) {
  .signinpos {
    position: absolute;
    bottom: 0;
    right: 5%;
  }

  .signuppos {
    position: absolute;
    top: 4%;
    right: 5%;
  }

  .fastfoodlogo {
    display: block;
    margin-left: 320px;
    margin-right: auto;
  }

  .dropdownimg{
    position: relative;
    top: 60px;
  }

  .titleheader{
    margin-left: 18%;
  }

  span{
    margin-left: 25%;
  }

  .toolbar-height{
    height: 300px;
  }

  .top-image-margin{
    margin-top: 75px;
  }

  .sidenav-toggle {
    display: none;
    padding: 0;
    margin: 8px;
    min-width: 66px;
  }


    .mat-icon {
      font-size: 30px;
      height:56px;
      width: 56px;
      line-height: 56px;
      color: white;
    }
}

@media(min-width: 1200px){
  .fastfoodlogo {
    display: block;
    margin-left: 420px;
    margin-right: auto;
  }

  span{
    margin-left: 25%;
  }

  .toolbar-height{
    height: 150px;
  }

  .sidenav-toggle {
    display: none;
    padding: 0;
    margin: 8px;
    min-width: 66px;
  }


    .mat-icon {
      font-size: 30px;
      height:56px;
      width: 56px;
      line-height: 56px;
      color: white;
    }

    .app-sidenav-container {
  flex: 1;
  position: sticky;
  width: 100%;
  min-width: 100%;
  min-height: 500px;
  margin-top: -10px;
}

.app-sidenav-content {

  display: flex;
  flex-direction: column;
  min-height: 800px;
}

.app-sidenav {
  width: 280px;
}

.wrapper {
  margin-top: 180px;
  position: sticky;
  min-width: 100%;
}


}

@media(min-width: 1500px) {
  .fastfoodlogo {
    display: block;
    margin-left: 800px;
    margin-right: auto;
  }

  .toolbar-height{
    position: fixed;
    top: 10px;
    min-height: 150px;
  }

  .top-image-margin{
    margin-top: 85px;
  }

  .margin-row{
    margin-left: 5px;
  }

  .nav-link{
    margin-left: 50px;
  }

  .app-sidenav-container {
flex: 1;
position: sticky;
width: 100%;
min-width: 100%;
min-height: 500px;
margin-top: -10px;
}
}

@media(min-width: 2000px) and (max-width: 2200px) {
  .fastfoodlogo {
    display: block;
    margin-left: 885px;
    margin-right: auto;
  }

  span{
    margin-left: 42%;
  }

  .toolbar-height{
    height: 150px;
  }

  .app-sidenav-container {
flex: 1;
position: fixed;
width: 100%;
min-width: 100%;
height: 100%;
min-height: 100%;
}

.app-sidenav-content {
display: flex;
height: 100%;
flex-direction: column;
}

.app-sidenav {
width: 240px;
}

.wrapper {
margin-top: 10px;
position: sticky;

}
}

@media(min-width: 2300px) and (max-width: 2499px){
  .fastfoodlogo {
    display: block;
    margin-left: 1012px;
    margin-right: auto;
  }

  span{
    margin-left: 42%;
  }

  .toolbar-height{
    height: auto;
  }

  .app-sidenav-container {
flex: 1;

width: 100%;
min-width: 100%;
height: 100%;
min-height: 100%;
margin-top: 10px;
}

.app-sidenav-content {
display: flex;
height: 100%;
flex-direction: column;
}

.app-sidenav {
width: 240px;
}


}

@media(min-width: 2500px) and (max-width: 2800px){
  .fastfoodlogo {
    display: block;
    margin-left: 1032px;
    margin-right: auto;
  }

  span{
    margin-left: 25%;
  }

  .toolbar-height{
    height: auto;
  }

  .app-sidenav-container {
flex: 1;

width: 100%;
min-width: 100%;
height: 100%;
min-height: 100%;
position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.app-sidenav {
width: 240px;
}

.wrapper {
margin: 50px;
}

.top-image-margin{
  margin-top: 85px;
}

.margin-row{
  margin-left: 5px;
}

.nav-link{
  margin-left: 50px;
}
}
