
<mat-toolbar color="primary" class="toolbar-height">
<mat-toolbar-row>

<img src="../../assets/images/menu.jpg" class="dropdown-toggle img-fluid " data-toggle="dropdown" />


<div class="dropdown-menu dropdownimg" >
      <a class="dropdown-item" href="#">{{appheader.foodlink}}</a>
      <a class="dropdown-item" href="#">{{appheader.drinklink}}</a>
      <a class="dropdown-item" href="/aboutus">{{appheader.aboutus}}</a>
 </div>





      <span class="justify-content-center top-image-margin"><a href="/home"><img src="../../assets/images/Benlogo.png" /></a></span>


      <mat-toolbar-row>
      <button mat-button [routerLink] = "['/messages']" class="nav-link" *ngIf = "userIsAuthenticated"><h2>Messenger</h2></button>
    </mat-toolbar-row>
      <mat-toolbar-row>
      <button mat-button routerLink = "/auth" class="nav-link "><h2>Authentication</h2></button>
    </mat-toolbar-row>
      <mat-toolbar-row>
      <button mat-button href="/shopping" class="nav-link" *ngIf = "userIsAuthenticated "><h2>Shopping</h2></button>
    </mat-toolbar-row>
      <mat-toolbar-row>
      <button mat-button [routerLink] = "['/admin']" class="nav-link" *ngIf = "userIsAuthenticated && role=='Admin'"><h2>Product Administration</h2></button>
    </mat-toolbar-row>

</mat-toolbar-row>
</mat-toolbar>
