<h1>We are a small franchise running healthy alternatives for individuals who are looking to stay healthy. </h1>

<div class="row">
  <div class="card col-md-6" style="width: 18rem;">
    <img class="card-img-top rounded-circle" src="/images/Peter.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mr Ben Peters</h5>
      <p class="card-text">Founder of Ben Fast Food</p>
      <a href="/home" class="btn btn-primary">Go to home</a>
    </div>
  </div>

  <div class="card col-md-6" style="width: 18rem;">
    <img class="card-img-top rounded-circle" src="/images/cata.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mr Catalin</h5>
      <p class="card-text">Treasurer for Ben's foods</p>
      <a href="/home" class="btn btn-primary">Go to home</a>
    </div>
  </div>


</div>
